@media (min-width: 992px){
.img-logo {
	width: 10em;
    float: right;
   }
}

@media (max-width: 991px){
.img-logo {
	width: 3em;
    float: right;
   }
}

.o-header {
	display: inline-block;
	width: 0%;
}

.m-left{
  margin-left: 1em;
}



.search-form-list{
  display: grid;
}

.search-form-item{
 /* display: inline-flex;*/
  padding: 1.5em;
}

.search-form-item h5{
  margin-right: 1em;
}

.copyright{
	position: absolute;
    width: 100%;
}


.background-w-imageaventon{
	background-color: rgba(241, 115, 118, 0.37);
    background-blend-mode: lighten;
    background-repeat: no-repeat;
    background-size: cover;
}

.background-w-imagebgprimary{
    background-color: rgba(26, 37, 47, 0.76);
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    background-size: cover;
}